---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout>
    <main class="w-full h-[90%] flex items-center justify-center flex-col">
        <h1 class="text-5xl mb-4">About</h1>
        <img class="w-[10%] h-auto mb-4 rounded border-2 border-gray-500 dark:border-none" src="/professor.jpg" alt="" srcset="">
        <p class="w-[50%] text-center">
            The Mad Scientist blog is a scientific niche blog for nerds. <br />
            The Mad Scientist writes about Physics, Chemistry, Math, Biology, Astronomy and so much more.
        </p>
    </main>
</BaseLayout>