---
import ArticleLayout from "../../layouts/ArticleLayout.astro";
import { getAllPosts } from "../../lib/cosmic";
import PostBody from "../../components/PostBody";

export async function getStaticPaths() {
  const data = (await getAllPosts()) || []

  return data.map((post) => {
    return {
      params: { article: post.slug },
      props: { post }
    }
  })
}

const { post } = Astro.props
const { article } = Astro.params;
---

<ArticleLayout>
    <h1 class="text-5xl pb-4 font-bold">{post.title}</h1>
    <PostBody content={post.metadata.content} />
</ArticleLayout>