---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<h1 class="text-5xl">404</h1>
    <p>Page not found :(</p>
</BaseLayout>
