---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <div class="w-full h-svh flex items-center justify-center flex-col">
        <h1 class="text-5xl">404</h1>
        <p>Page not found :(</p>
    </div>
</BaseLayout>
