---
import HeaderLink from './HeaderLink.astro';
import ThemeIcon from './ThemeIcon.astro';
import { SITE_TITLE } from '../consts';
---

<header class="bg-white dark:bg-slate-800">
	<nav class="h-[60px] flex items-center justify-around px-5 sm:mx-auto sm:max-w-2xl sm:px-8 antialiased md:max-w-6xl">
		<div class="h-full flex items-center justify-around mr-auto">
			<a href="/" class="w-auto h-auto pr-[5px] sm:pr-4">
				<img class="w-[40px] h-auto rounded-full" src="/professor-face.jpg" alt="profile" />
			</a>
			<a class="text-xl sm:text-2xl inline-block" href="/">{SITE_TITLE}</a>
		</div>
		<div class="dark-theme-toggler h-full flex items-center justify-around">
			<HeaderLink class="pr-[8px] sm:pr-4 text-xl sm:text-2xl inline-block no-underline" href="/about">About</HeaderLink>
			<ThemeIcon />
		</div>
	</nav>
</header>