---
import BaseLayout from './BaseLayout.astro';

const { title, description } = Astro.props;
---
<BaseLayout title={title} description={description}>
	<main class="min-h-svh px-5 sm:mx-auto sm:max-w-2xl sm:px-8 antialiased md:max-w-6xl mt-4 overflow-hidden md:overflow-visible">
		<slot />
	</main>
</BaseLayout>